/*assests/css/favouriteMovies.css*/
.favSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.favourite{
    max-width: 350px;
    width: 100%;
    background-color: #D0ADEE;
    border-radius: 20px;
    padding: 0.8rem 1rem;    
    text-align: left;
    position: relative;
}
.fav-title{
    font-weight: 800;
    padding: 0.2rem 0.5rem 0.2rem 0;
}
.fav-genre{
    opacity: 0.8;
}
.fav-ratings{
    padding: 0.2rem 0.5rem;
    border-radius: 15px;
    font-size: 0.9rem;
    opacity: 0.8;
    margin-right: 20px;
}
.favourite-badge{
    text-align: right;
    float: right;
    color: black;
    font-size: 0.9rem;
    cursor: pointer;
}
.fav{
    background-color: red;
    border-radius: 15px;
    padding: 0.3rem 0.5rem;
    color: #fff;
}
.fav-info{
    margin-top: 0.5rem;
}